<!--<div class="b-example-divider"></div>-->

<div class="container">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <div class="col mb-3">
      <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
          <img src="/assets/images/logo.svg" alt="Bootstrap" width="60" height="60">
      </a>
      <p class="text-body-info">&copy; {{site.year}} {{site.company}}. All Rights Reserved.</p>
      <p class="text-body-info">Vacaville, California</p>
    </div>

    <div class="col mb-3">
      <p class="text-body-info">All prices on this site are in USD.</p>
    </div>


    <div class="col mb-3">


    </div>

      
    <div class="col mb-3">
      <h5>Packages</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="/packages/corporate-wellness/" class="nav-link p-0 text-body-secondary">Corporate Wellness</a></li>
        <li class="nav-item mb-2"><a href="/packages/wedding-pa-essentials/" class="nav-link p-0 text-body-secondary">Wedding PA Essentials</a></li>
        <li class="nav-item mb-2"><a href="/packages/package3/" class="nav-link p-0 text-body-secondary">Package 3</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Navigation</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-body-secondary">Home</a></li>
        <li class="nav-item mb-2"><a href="/about/faqs/" class="nav-link p-0 text-body-secondary">FAQs</a></li>
        <li class="nav-item mb-2"><a href="/about/brands/" class="nav-link p-0 text-body-secondary">Brands</a></li>
        <li class="nav-item mb-2"><a href="/about/contact/" class="nav-link p-0 text-body-secondary">Contact</a></li>
      </ul>
    </div>
  </footer>
</div>
