<nav class="navbar fixed-top navbar-expand-lg mb-5 bg-success">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/assets/images/logo.svg" alt="Bootstrap" width="60" height="60">
    </a>
    <button class="navbar-toggler ml-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarResponsive">
      <ul class="nav mr-auto">
          <li class="nav-item px-1">
            <a class="nav-link fs-5" href="/"> HOME </a>
          </li>

          <li class="nav-item dropdown px-1">
            <a class="nav-link fs-5 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> PACKAGES </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/packages/pa-systems/">PA Systems</a></li>
              <li><a class="dropdown-item" href="/packages/microphones/">Microphones</a></li>
              <li><a class="dropdown-item" href="#">Musical Instruments</a></li>
              <li><a class="dropdown-item" href="#">Party Lights</a></li>
              <li><a class="dropdown-item" href="#">Power</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown px-1">
            <a class="nav-link fs-5 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> ABOUT </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/about/faqs/">FAQs</a></li>
              <li><a class="dropdown-item" href="/about/brands/">Brands</a></li>
              <li><a class="dropdown-item" href="/about/contact/">Contact</a></li>
            </ul>
          </li>

      </ul>
    </div>
  </div>
</nav>
