<nav class="navbar fixed-top navbar-expand-lg bg-success shadow-sm border-bottom">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img src="/assets/images/logo.svg" alt="Bootstrap" width="50" height="50" class="me-2">
      <span class="fw-bold text-primary fs-4">VANS Pro Audio Rentals</span>
    </a>

    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarResponsive">
      <ul class="navbar-nav align-items-lg-center">
        <li class="nav-item px-2">
          <a class="nav-link fs-5 fw-medium text-dark hover-primary" href="/">Home</a>
        </li>

        <li class="nav-item dropdown px-2">
          <a class="nav-link dropdown-toggle fs-5 fw-medium text-dark hover-primary" href="#" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">Packages</a>
          <ul class="dropdown-menu shadow-sm border-0 rounded-3">
            <li><a class="dropdown-item" href="/packages/pa-systems/">PA Systems</a></li>
            <li><a class="dropdown-item" href="/packages/microphones/">Microphones</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown px-2">
          <a class="nav-link dropdown-toggle fs-5 fw-medium text-dark hover-primary" href="#" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">About</a>
          <ul class="dropdown-menu shadow-sm border-0 rounded-3">
            <li><a class="dropdown-item" href="/about/faqs/">FAQs</a></li>
            <li><a class="dropdown-item" href="/about/brands/">Brands</a></li>
            <li><a class="dropdown-item" href="/about/contact/">Contact</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
